{% extends 'base.html' %}
{% block title %}Edit Profile!{% endblock title %}
{% block contant %}

<div class="card text-center bg-transparent text-white">
    <div class="card-body">
        <h1>Sittings Of - { {{ user.first_name }} {{ user.last_name }} }</h1>
        <br/><br/>
    </div>
</div>

<br/><br/>  
<div class="card text-center bg-transparent text-white">
    <form method="POST">
    
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-light">Save</button>
        <br/><br/>
        <br/><br/>
</div>


{% endblock contant %}



